@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body
{
    margin-top:20px;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}

/* Content Box
---------------------*/
.feature-box-1:hover{
  cursor: pointer;
}
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
  font-family: 'JetBrains Mono', monospace;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h3 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
  color: black;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
  text-decoration: none;
}
.feature-box-1:hover h3 {
  color: #ffffff;
  text-decoration: none;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
  text-decoration: none;
}
.feature-content
{
  text-decoration: none;
}
.section {
    padding: 100px 0;
    position: relative;
    font-family: 'JetBrains Mono', monospace;
}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
