@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body{
    margin-top: 50px !important;
    background: #170F1E;
    background-image: url();
    font-family: 'JetBrains Mono', monospace;
}
a:hover, a:focus{
    text-decoration: none !important;
    outline: none !important;
    
}
.panel-group .panel{
    background-color: #fff;
    border:none;
    box-shadow:none;
    border-radius: 10px;
    margin-bottom:11px;
}
.panel .panel-heading{
    padding: 0;
    border-radius:10px;
    border: none;
}
.panel-heading a{
    color:#816d6d !important;
    display: block;
    border:none;
    padding:20px 35px 20px;
    font-size: 20px;
    background-color:#fff;
    font-weight:600;
    position: relative;
    color:#fff;
    box-shadow:none;
    transition:all 0.1s ease 0;
}
.panel-heading a{
	animation-name:hover;
	animation-duration:1ms;
	animation-fill-mode:forwards;
	animation-play-state:paused;
}
.panel-heading a:active, a:hover{
	animation-name:hover;
	animation-duration:1ms;
	animation-fill-mode:backwards;
	animation-play-state:running;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
    content: "\f068";
    font-family: fontawesome;
    text-align: center;
    position: absolute;
    left:-20px;
    top: 10px;
    color:#816d6d !important;
    background-color:#fff;
    border: 5px solid #fff;
    font-size: 15px;
    width: 40px;
    height:40px;
    line-height: 30px;
    border-radius: 50%;
    transition:all 0.3s ease 0s;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
    transform:rotate(360deg);
    background-color:#bd8cbf;
}
.panel-heading a.collapsed:after{
    content: "\f067";
}
#accordion .panel-body{
    background-color:#fbf8f8;
    color:#8C8C8C;
    line-height: 25px;
    padding: 10px 25px 20px 35px ;
    border-top:none;
    font-size:14px;
    position: relative;
}
.text-white{
    color:white;
    text-transform: uppercase;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes hover{
	  0%{
		  background:white;
	  }
	  100%{
		  background:linear-gradient(to right,#bd8cbf,#ED7014);
	  }
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
